*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #696969;
}

.header {
  text-align: center;
  color: #FFCB03;
  padding: 2rem;

}

.menu-container{
  width: 65vw;
  margin: 0.75rem auto 0 auto;
}